.banner {
    height: 100vh;
    position: relative;
}

.banner-image {
    background-image: url('../assets/banner_games_images.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-titulo_principal {
    margin: 1rem 2rem;
    color: var(--cor-branca);
}

.banner-subtitulo {
    margin: 0 0 1rem 2rem;
    color: var(--cor-branca);
}

.banner-subtitulo span {
    text-decoration: underline;
    text-decoration-color: var(--cor-primaria);
    text-decoration-style: solid;
}

.banner-button_confira_ja {
    border-radius: 0.5rem;
    width: 9.37rem;
    height: 3.12rem;
    margin: 0 2rem;
    cursor: pointer;
    font-family: var(--fonte), sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-preta);
    background-color: var(--cor-branca);
    display: flex;
    align-items: center;
    justify-content: center;
}

.entrada_cards {
    background-color: var(--cor-branca);
    position: absolute;
    bottom: 0;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem 0;
    width: 100%;
}

.conteudo-principal_titulo {
    margin: 1rem 0 1rem 0;
    color: var(--cor-secundaria);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.conteudo-principal_subtitulo {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.conteudo-principal_subtitulo span {
    color: var(--cor-secundaria);
}

