footer {
    position: relative;
    background-color: var(--cor-primaria);
    padding: 1rem 1rem;
    width: 100%;
    height: 5rem;
}

.titulo_footer {
    color: var(--cor-branca);
    font-size: 24px;
    font-weight: 800;
}

.conteudo-footer {
    margin-top: 0.5rem;
}

.footer-lista_informacoes {
    display: flex;
    border-right: 1px solid var(--cor-branca);
    column-gap: 1rem;
    justify-content: left;
}

.footer-lista_informacoes > li {
    color: var(--cor-secundaria);
    border-left: 1px solid var(--cor-branca);
    padding: 0.25rem
}