.navbar {
    background-color: var(--cor-primaria);
    padding: 0.5rem;
    display: flex;
    height: 50px;
    width: 100%;
    border-bottom: 10px solid var(--cor-secundaria);
    justify-content: space-between;
}

.navbar-logo_items {
    display: flex;
}

.navbar-items_mobile {
    display: flex;
    align-items: center;
}

.items_mobile {
    margin: 0 0.5rem;
    color: var(--cor-branca);
    font-weight: 600;
    text-transform: uppercase;
}

.navbar_items {
    margin: 0 1rem;
}

.navbar-notificacoes_usuario {
    display: flex;
    align-items: center;
}

.checkbox_consoles_menu {
    display: none;
}

.consoles_item {
    display: none;
    top: 50px;
    left: 150px;
    width: 60vw;
    background-color: var(--cor-branca);
}

.item_console_nome {
    color: var(--cor-secundaria);
}

.checkbox_consoles_menu:checked~.consoles_item {
    display: block;
    width: auto;
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: 3rem;
    z-index: 1;
}

.item_console {
    padding: 0.5rem 0.5rem;
}

.navbar-items_desktop {
    display: none;
}

@media screen and (min-width: 1024px) {
    .navbar-items_mobile {
        display: none;
    }

    .navbar-items_desktop {
        margin-left: 2rem;
        display: flex;
        align-items: center;
    }

    .lista-navbar_items {
        text-transform: uppercase;
        font-weight: 700;
    }

    .link_navbar {
        color: var(--cor-branca);
    }
}

